html, body {
}

#wrap {
  min-height: 100%;
  /* put the background behind the clouds -- see CLOUDS further down */
  background: url('../img/clouds_bottom.png'), url('../img/clouds_top.png'), url('../img/pattern.jpg'), #fff;
  background-repeat: no-repeat, no-repeat, repeat, repeat;
  background-position: bottom center, top center, 0 0, 0 0;
}

#main {
  padding-bottom: 699px; /* this needs to be bigger than max(footer height, clouds_bottom.png height) */
  color: white;
}

#main .form-actions {
  background: inherit;
  border: none;
  padding: 0px;
}

#main .well {
  color: black;
}

#footer {
  position: fixed;
  bottom: 0;
  background: #000;
  color: white;
  width: 100%;
  clear: both;
  padding: 10px 0px;
  text-align: center;
}

.wafer.list div:nth-child(2n) {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.wafer.list div:nth-child(2n + 1) {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
}